<h1>Welcome</h1>
<h2>Hostname: {{ ansible_hostname }}</h2>
<h2>IP: {{ ansible_default_ipv4.address }}</h2>
<h2>OS: {{ ansible_distribution }}</h2>
<h2>Version: {{ ansible_distribution_version }}</h2>
<h2>Architecture: {{ ansible_architecture }}</h2>